body {
	margin: 0;
	padding: 0;
	background: #EFFBFB;
	font-family: sans-serif;
}
.clearfix {
	clear: both;
}
.content-layout {
	margin: 0 auto;
	width: 1200px;
}
.header {
	height: 80px;
	background: #2ECCFA;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 0 15px #00A8FF;
	padding: 0 30px;
}
.header a {
	display: inline;
	float: right;
	line-height: 80px;
	color: #fff;
	margin-left: 30px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.header a:hover {
	text-shadow: 0 0 25px #0080FF;
}
.header h1 {
	color: #fff;
	line-height: 80px;
	display: inline;
}
.main-image {
	border-radius: 50px;
	margin: 25px 0;
}
.article {
	text-align: center;
	font-size: 24px;
	margin: 0 50px;
	color: #2ECCFA;
}
.list-block {
	margin-top: 50px;
}
.list-img {
	float: left;
	margin-left: 50px;
}
.list-img img {
	border-radius: 40px;
}
.list {
	float: right;
	margin-right: 50px; 
	font-size: 18px;
	color: #2ECCFA;
}
.table-block {
	margin-top: 50px;
}
.table {
	float: left;
	width: 650px;
	margin-left: 50px;
	text-align: center;
	color: #0080FF;
}
.table h2 {
	color: #2ECCFA;
}
.table-img {
	float: right;
	margin: 165px 50px 0 0;
}
.table-img img {
	border-radius: 40px;
}
ul {
	text-align: left;
	width: 350px;
	margin: 0 auto;
}
th {
	background: #0080FF;
	color: #fff;
}
.footer {
	background: #2ECCFA;
	box-shadow: 0 0 15px #00A8FF;
	border-radius: 15px 15px 0 0 ;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 20px 50px;
	margin-top: 50px;
	line-height: 35px;
}
.footer a {
	color: #fff;
	text-transform: uppercase;
}
.footer a:hover {
	color: #0080FF;
	text-decoration: none;
}